@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto-bold_1-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bold_1-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: fallback;

}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto-light_1-webfont.woff2') format('woff2'),
         url('../fonts/roboto-light_1-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: fallback;

}

@font-face {
    font-family: 'roboto';
    src: url(../fonts/roboto-lightitalic_1-webfont.woff2) format('woff2'),
         url(../fonts/roboto-lightitalic_1-webfont.woff) format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: fallback;

}


body {
  
  box-sizing: border-box;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
 }
 html, body {
  width: 100%;
  height: 100%;
}
 ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.wraper {
  position: relative;
  min-height: 100%; 
  min-width: 1100px;/*ширина должна быть размером с ширину контенте + 20px с каждой стороны*/
  overflow: hidden;
}
.container {
  
   background: #ffffff;
 }


 .head {
  /*min-height: 78px;*/
 background: #4B73B5;
 padding: 18px 0 18px 0;
 
 
 
 }
 .head__container{
   margin: 0 auto;
   width: 1060px;
   box-sizing:border-box; 
 }
 
 .clerfix:after {
  content: "";
  display: block;
  clear: both;
 }
 

.head__col {
  
  display: inline-block;
  width: 50%; 
  float: left;
  text-align: left;
  
  
  }
  .head__col--right {
    text-align: right;
   
    
  }
  .logo-head {
    display: inline-block;
    
    
    
  }
  .logo__picture {
    display: inline-block;
    
  }
  .contacts {
    display: inline-block;
    
  }

 

.contacts__telefon {

  
  font-weight: bold;
  font-size: 21px;
  color: #ffffff;
  text-decoration: none;
}

.contacts__telefon:hover {
  
  color: rgba(255, 255, 255, .7);
}

.contacts__dropdow {
  display: block;
  font-weight: bold;
  font-size: 14px;
  color: rgba(255, 255, 255, .7);
  text-decoration: underline;
  position: relative;
  
  
}


/*выпадашка*/


.contacts__dropdow:hover {
  text-decoration: none;
  color: #ffffff;
}

.contacts__dropdow:hover .dropdown {
  top: -11px;
}

.dropdown__time, .dropdown__dinner {
  margin: 0px;
  display: inline-block;
  line-height: 30px;
}
.dropdown__time {
  font-size: 14px;
  color: rgb(28, 91, 195);
  font-weight: bold;
}
.dropdown__dinner {
  font-size: 14px;
  color: rgb(34, 31, 31);
  font-weight: 300;
}
.dropdown {
  position: absolute;
  /*top: 30px;*/
  top: 9999px;
}

.dropdown__wrap {
  width: 163px;
  height: 70px;
  background: rgb(255,255,255);
  border-radius: 6px;
  top: 50px;
  position: relative;
  padding-top: 5px;
  padding-left: 22px;
  text-align: left;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.2);
  }

  .dropdown__triangel {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
      position: absolute;
      width: 18px;
      height: 18px;
      background: rgb(255,255,255);
      bottom: 100%;
      transform: rotate(45deg);
      margin-bottom: -9px;
    left: 100%;
    margin-left: -26px;
  }

  /*хлебные крошки*/

.breadcrumbs {
  font-weight: 300;
  font-style: italic;
  font-size: 14px;
  padding-top: 45px;
}

.breadcrumbs__link {
  color: rgba(28, 91, 195, .8);
} 

.breadcrumbs__item {
  display: inline-block;
}
.breadcrumbs__item:after {
  content: "/";
}

.breadcrumbs__item:last-child:after {
  display: none;
  }
  .breadcrumbs__link--active {
    color: rgba(34, 31, 31, .8);
    text-decoration: none;
  }
  .sidebar {
    width: 15%;
    /*min-width: 135px;*/
    height: 100%;
    display: inline-block;
    float: left;
    box-sizing: border-box;
    
  }
  .right-content {
    width: 85%;
    height: 100%;
    display: inline-block;
    float: left;
    box-sizing: border-box;
    
  }
  .main-content {
    width: 1060px;
    margin: 0 auto;
  }

/*сайдбар*/
  .menu {
    width: 100%;
    padding: 45px 0 0 18px;
    margin: 0;
    list-style: none;
    box-sizing:border-box;
  }
  .menu__item {
    margin: 0 0 30px 0;
  }

  .menu__link {
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    color: #4b73b5;
    text-decoration: none;
    transition: color 0.4s
  }
  .menu__link:hover {
    color: #221f1f;
  }
  
  
  .menu__link--active {
    color: #221f1f;
      
  }

  
  
  .menu__img-main {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    width: 23px;
    height: 18px;
    background: url(../img/sidebar/main_icon.png) center center no-repeat;
  }
  .menu__img-main:after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 23px;
    height: 18px;
    opacity: 0;
    transition: opacity 0.4s;
    background: url(../img/sidebar/main_iconblack.png) center center no-repeat;
  }
.menu__link:hover .menu__img-main:after {
    opacity: 1;
  }
  .menu__img-main--active {
    background: url(../img/sidebar/main_iconblack.png) center center no-repeat;
  }
   
  .menu__img-feed {
    vertical-align: middle;
    display: inline-block;
    width: 23px;
    height: 18px;
    background: url(../img/sidebar/feed_icon.png) center center no-repeat #ffffff;
  }
  .menu__img-feed:after {
    content: "";
    display: inline-block;
    width: 23px;
    height: 18px;
    opacity: 0;
    transition: opacity 0.4s;
    background: url(../img/sidebar/feed_iconblack.png) center center no-repeat;
  }
  .menu__link:hover .menu__img-feed:after {
  opacity: 1;
  }
  .menu__img-feed--active {
    background: url(../img/sidebar/feed_iconblack.png) center center no-repeat;
  }
  .menu__img-team {
    vertical-align: middle;
    display: inline-block;
    width: 23px;
    height: 18px;
    background: url(../img/sidebar/team_icon.png) center center no-repeat #ffffff;
  }
  .menu__img-team:after {
    content: "";
    display: inline-block;
    width: 23px;
    height: 18px;
    opacity: 0;
    transition: opacity 0.4s;
    background: url(../img/sidebar/team_iconblack.png) center center no-repeat #ffffff;
  }


  .menu__link:hover .menu__img-team:after {
   opacity: 1;
  }
  .menu__img-team--active {
    background: url(../img/sidebar/team_iconblack.png) center center no-repeat;
  }
  .menu__word {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 16px;
  }
 
  .banner {
    padding-top: 13px;
    margin-bottom: 90px;
    
    
  }
  .banner__img {
    max-width: 100%;
    }
  
  /*секция с тарифами*/
.h1__rates {
    
  font-size: 49px;
  color: rgb(34, 31, 31);
  font-weight: bold;
  line-height: 0.776;
  position: absolute;
  left: -5.953px;
  top: -94.918px;
  width: 181px;
  height: 47px;
  z-index: 2;
 
  
  }
  .rates {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  }
  
  .rates__list {
    margin: 0;
    padding: 0;
    list-style: none;
    margin: 0 auto;
    display: inline-block;
    
  }
  .rates__item {
    display: inline-block;
    width: 248px;
    height: 454px;
    border-radius: 5px;
    padding-top: 40px;
    
    box-sizing: border-box;
    border: 1px solid rgba(14, 186, 197, .0);
  }
  .rates__item:hover {
    border: 1px solid #0ebac5;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .rates__icon {
    display: inline-block;
    width: 66px;
    height: 66px;
    border-radius: 50%;
  }
  .rates__icon--standart {   
    background: url(../img/rates/flower.png) center center no-repeat #4b73b5;
  }
  .rates__icon--favorite {
    background: url(../img/rates/mark-as-favorite-star.png) center center no-repeat #4b73b5;
  }
  .rates__icon--luxury {
    background: url(../img/rates/painter-palette.png) center center no-repeat #4b73b5;
  }

  .rates__name {
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    /*padding-top: 30px;*/
    line-height: 4.767;
    margin: 0;
  } 

  .rates__description {
    display: inline-block;
    font-weight: 300;
    font-size: 18px;
    /*padding-top: 28px;*/
    line-height: 1.667;
  }

  .rates__option {
    display: inline-block;
    padding: 0;
    list-style: disc;
    font-weight: 300;
    font-size: 18px;
  }
  .rates__option-list {
    line-height: 1.667;
    text-align: left;
  }
  
  .rates__num {
    vertical-align: middle;
    font-weight: 500;
    font-size: 53.89px;
    line-height: 2.383;
  }
  .rates__baks {
    vertical-align: middle;
    font-weight: 400;
    font-size: 30px;
    line-height: 2.383;
  }
  

.h2 {
  font-weight: bold;
  font-size: 49px;
  color: #221f1f;
}

/*секция с новостями*/
.news__item {
  border-bottom: 2px solid #E0E0E0;
  margin-bottom: 26px;
}
.news__item:last-child {
  border-bottom: none;
}

.news__list {
  list-style: none;
  margin: 0;
  padding: 0;
}


.news__img {
  display: inline-block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  vertical-align: top;
}

.news__rigtcol {
  display: inline-block;
  width: 86%;
  vertical-align: top;
  padding-left: 18px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.news__date {
  font-weight: 300;
  font-size: 14px;
  color: #656464;
  top: 100%;
  
  
}

.news__name {
  padding-top: 10px;
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  color:#221f1f;
}

.news__description {
  margin: 0;
  padding: 18px 0 18px 0;
  font-weight: 300;
  font-size: 18px;
  color: #221f1f;
  }

  /*навигация страниц в новостях*/
.nav {
  
  text-align: center;
  margin: 20px;
}
.nav__feed {
  margin-bottom: 75px;
}
.nav__list {
  list-style: none;
  display: inline-block;
  margin: 0;
}
.nav__item {
  display: inline-block;
}
.nav__link {
  display: inline-block;
  text-decoration: none;
  width: 25px;
  height: 25px;
  font-weight: bold;
  font-size: 14px;
  color: #221f1f;
  text-align: center;
  padding-top: 4px;
  box-sizing:border-box;
}
.nav__link--active {

  background: #4b73b5;
  border-radius: 5px;
  color: #FFF;
}
.nav__link--left {
  width: 25px;
  height: 25px;
  font-weight: 300;
  color: #656464;
}
.nav__link:hover {
  background: #4b73b5;
  border-radius: 5px;
  color: #FFF;
}
.nav__total {
  display: inline-block;
  font-weight: 300;
  font-size: 14px;
  color: #656464;
}

  /*футер*/
  
  .footer {
    background: #4b73b5;
    width: 100%;
    min-height: 75px;
  }

  .footer__container {
    margin: 0 auto;
   width: 1060px;
   box-sizing:border-box;
    
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

  .footer__col {
    display: inline-block;
    float: left;
    width: 33.3%;
    
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  .footer__logo-link {
    display: inline-block;
    
  }
  .footer__col--middle {
    text-align: center;
    padding-top: 18px;
  }
  .footer__col--left {
    padding-top: 10px;
  }

  .footer__item {
    display: inline-block;
  }


.footer__inf {
  display: inline-block;
  font-weight: 100%;
  font-size: 14px;
  color: #FFFFFF;
}

.footer__social-net {
  width: 100%;
  display: inline-block;
  text-align: right;
  font-weight: bold;
  font-size: 14px;
  color: #FFF;
  padding-top: 16px;
}

.footer__list {
  list-style: none;
  display: inline-block;
  text-align: right;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 8px;
}
.footer__link-social:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.9);
}
.footer__link-social {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}


.footer__link-social--vk {
  background: url(../img/footer/vk.png) center center no-repeat #ffffff;
}

.footer__link-social--fb {
  background: url(../img/footer/fb.png) center center no-repeat #ffffff;
}

.footer__link-social--google {
  background: url(../img/footer/google.png) center center no-repeat #ffffff;
}

.footer__link-social--tw {
  background: url(../img/footer/twitter.png) center center no-repeat #ffffff;
}
.footer__link-social--mail {
  background: url(../img/footer/mail.png) center center no-repeat #ffffff;
}



/*отзывы*/

.h2--feed {
  margin: 0;
  margin-bottom: 45px;
  padding-top: 26px;
}

.feed__item {
  border-bottom: 2px solid #E0E0E0;
  margin-bottom: 26px;
  padding-bottom: 25px;
}
.feed__item:last-child {
  border-bottom: none;
}

.feed__list {
  list-style: none;
  margin: 0;
  padding: 0;
}


.feed__img {
  display: inline-block;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  vertical-align: top;
}

.feed__rigtcol {
  display: inline-block;
  width: 81%;
  vertical-align: top;
  padding-left: 18px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.feed__date {
  font-weight: 300;
  font-size: 14px;
  color: #656464;
  top: 100%;
  
  
}

.feed__name {
  padding-top: 10px;
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  color:#221f1f;
}

.feed__description {
  margin: 0;
  padding: 18px 0 18px 0;
  font-weight: 300;
  font-size: 18px;
  color: #221f1f;
  }
/*зеленая полоса по середине экрана*/

  .ecvator {
    width: 100%;
    min-height: 170px;
    background: url(../img/ecvator.jpg);
    margin-bottom: 49px;
  }

  .ecvator__inf {
    width: 630px;
    margin: 0 auto;
    padding-top: 45px;
  }

  .ecvator__inf {
    font-size: 18px;
    color: rgb(255, 255, 255);
    line-height: 1.667;
    }

    .ecvator__text {
      margin: 0;
    }
    .contacts-ecvator {
      text-decoration: none;
      font-weight: bold;
      color: rgb(255, 255, 255);
    }

    .contacts-ecvator--site {
      text-decoration: underline;
    }
    .contacts-ecvator:hover {
      color: rgb(204, 204, 204);
    }


    /*форма отзывов*/
    
.form {
  width: 100%;
  margin-bottom: 50px;
}
.form__h2 {
  font-size: 49px;
  color: rgb(34, 31, 31);
  font-weight: bold;
  line-height: 0.776;
  margin: 0;
  margin-bottom: 26px;
}
.form__feed {
  position: relative;
  margin: 0 auto;
  padding: 50px 70px 50px 70px;
  width: 700px;
  min-height: 427px;
  background: #f5f5f5;
  box-sizing: border-box;
  border-radius: 3px;
}
.form__label {
  margin-bottom: 8px;
  display: inline-block;
  font-size: 14px;
  color: rgb(34, 31, 31);
  font-weight: 300;
}

.form__name {
  margin: 0;
  width: 270px;
  height: 45px;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  padding-left: 8px;
  box-sizing: border-box;
  margin-bottom: 40px;
  display: inline-block;
  border: none;
}
.form__name--vk {
  
}
.form__block {
  width: 270px;
  display: inline-block;
  box-sizing: border-box;
  
}
.form__block-right {
  margin-left: 16px;
}

.form__name--area {
  width: 560px;
  height: 90px;
  margin: 0;
  padding: 10px;
  margin-bottom: 20px;
  border-width: 1px;
  border-color: rgb(75, 115, 181);
  border-style: solid;
  box-sizing: border-box;
}
.form__h3 {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 14px;
  color: rgb(34, 31, 31);
}
.label {
  position: relative;
}
.label--right {
  margin-left: 20px;
}
.radio{
  position: absolute;
  display: none;
}
.text {
  font-weight: 300;
  font-size: 14px;
  color: rgb(34, 31, 31);
}
.check {
  width: 18px;
  height: 18px;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}
.text {
  vertical-align: middle;
}

.radio--yes:checked + .check--yes {
  border: 1px solid rgb(75, 115, 181);
  background: url(../img/radio/rad.png) center center no-repeat;
}
.radio--no:checked + .check--no {
  border: 1px solid rgb(75, 115, 181);
  background: url(../img/radio/rad.png) center center no-repeat;
}

.form__button {
  width: 154px;
  height: 45px;
  border: none;
  border-radius: 3px;
  background-color: rgb(75, 115, 181);
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  display: inline-block;
  position: absolute;
  top: 366px;
  left: 476px;
}
.form__img-button {
  vertical-align: middle;
  display: inline-block;
  width: 15px;
  height: 14px;
  background: url(../img/form_button/white.png) center center no-repeat;
  margin-left: 10px;
  box-sizing: border-box
}
.form__word-button {
  display: inline-block;
  vertical-align: middle;
  
}
.form__button:hover {
  background: rgb(255, 255, 255);
  color: rgb(75, 115, 181);
}
.form__button:hover .form__img-button {
   background: url(../img/form_button/black.png) center center no-repeat;
}


/*экипаж*/
.team {
 
}

.h1-team {
  font-size: 49px;
  color: rgb(34, 31, 31);
  font-weight: bold;
  margin: 0;
  line-height: 37px;
  margin-top: 26px;
  margin-bottom: 50px;
}

.team__item {
  display: inline-block;
  width: 260px;
  text-align: center;
  vertical-align: top;
  margin-bottom: 46px;
  margin-right: 55px;  
}

.team__item:nth-of-type(3n) {
  margin-right: 0;
}
.team__img {
  position: relative;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 18px;
  
}
.team__img--alex {
  background: url(../img/team/alex.jpg);
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}
.team__img--inna {
  background: url(../img/team/inna.jpg);
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}
.team__img--boris {
  background: url(../img/team/boris.jpg);
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}
.team__img--lina {
  background: url(../img/team/elina.jpg);
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}
.team__img--elena {
  background: url(../img/team/elena.jpg);
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}
.team__img--ury {
  background: url(../img/team/ury.jpg);
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}
.team__img:after {

  content: "";
  display: inline-block;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  opacity: 0.5;
  background: rgb(75, 115, 181);
  
}
.team__img__name {
  z-index: 10;
  width: 100%;
  overflow: hidden;
  display: inline;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 24px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.team__name {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  color: rgb(34, 31, 31);
  margin-bottom: 10px;
}
.team__specification {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
  color: rgb(75, 115, 181);
  margin-bottom: 15px;
}
.team__p {
  margin: 0;
  font-weight: 300;
  font-size: 14px;
  color: rgb(34, 31, 31);
}


/*партнеры*/

.h2-partner {
  font-size: 49px;
  color: rgb(34, 31, 31);
  font-weight: bold;
  margin: 0;
  line-height: 37px;
  margin-bottom: 50px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.partner__list {
  font-size: 0;
  margin-bottom: 32px;
}
.partner__item {
  position: relative;
  display: inline-block;
  width: calc(100% / 3);
  min-height: 64px;
  margin-bottom: 64px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.partner__logo-bmp {
  position: absolute;
  display: block;
  width: 159px;
    height: 30px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background: url(../img/spritepartner/sprite-partners.png) -0px -128px no-repeat;
}
.partner__logo-bmp:after {
  content: "";
  display: block;
  width: 159px;
    height: 30px;
    opacity: 0;
    transition: opacity 0.4s;
    background: url(../img/spritepartner/sprite-partners.png) -0px -158px no-repeat;
}
.partner__logo-bmp:hover:after {
  opacity: 1;
}

.partner__logo-tetra {
  position: absolute;
  display: block;
  width: 161px;
    height: 64px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background: url(../img/spritepartner/sprite-partners.png) -0px -0px no-repeat;
}
.partner__logo-tetra:after {
  content: "";
  display: block;
  width: 161px;
    height: 64px;
    opacity: 0;
    transition: opacity 0.4s;
    background: url(../img/spritepartner/sprite-partners.png) -0px -64px no-repeat;
}
.partner__logo-tetra:hover:after {
  opacity: 1;
}

.partner__logo-sib {
  position: absolute;
  display: block;
  width: 133px;
    height: 64px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background: url(../img/spritepartner/sprite-partners.png) -0px -314px no-repeat;
}

.partner__logo-sib:after {
  content: "";
  display: block;
  width: 133px;
    height: 64px;
    opacity: 0;
    transition: opacity 0.4s;
    background: url(../img/spritepartner/sprite-partners.png) -0px -378px no-repeat;
}

.partner__logo-sib:hover:after {
  opacity: 1;
}

.partner__logo-one {
  position: absolute;
  display: block;
  width: 141px;
    height: 63px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background: url(../img/spritepartner/sprite-partners.png) -0px -188px no-repeat;
}

.partner__logo-one:after {
  content: "";
  display: block;
  width: 141px;
    height: 63px;
    opacity: 0;
    transition: opacity 0.4s;
    background: url(../img/spritepartner/sprite-partners.png) -0px -251px no-repeat;
}

.partner__logo-one:hover:after {
  opacity: 1;
}

.partner__logo-bing {
  position: absolute;
  display: block;
  width: 46px;
    height: 64px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background: url(../img/spritepartner/sprite-partners.png) -82px -442px no-repeat;
}

.partner__logo-bing:after {
  content: "";
  display: block;
  width: 46px;
    height: 64px;
    opacity: 0;
    transition: opacity 0.4s;
    background: url(../img/spritepartner/sprite-partners.png) -82px -506px no-repeat;
}

.partner__logo-bing:hover:after {
  opacity: 1;
}

.partner__logo-ural {
  position: absolute;
  display: block;
  width: 82px;
    height: 64px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background: url(../img/spritepartner/sprite-partners.png) -0px -442px no-repeat;
}

.partner__logo-ural:after {
  content: "";
  display: block;
  width: 82px;
    height: 64px;
    opacity: 0;
    transition: opacity 0.4s;
    background: url(../img/spritepartner/sprite-partners.png) -0px -506px no-repeat;
}

.partner__logo-ural:hover:after {
  opacity: 1;
}

/*интро*/

.wraper__intro {
  
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/*.img-intro {
  position: relative;
  width: 100%;
  height: 100%;
}*/

.fon {
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(../img/intro.jpg);
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}


.fon:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
}

.intro__content {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 207px;
  -webkit-animation: gif 1s;
     -moz-animation: gif 1s;
       -o-animation: gif 1s;
          animation: gif 1s;
}

/*@-webkit-keyframes gif {
  from {  }
  to {  }
}*/

@keyframes gif {
  from { 
    transform: translateY(0px);
    opacity:0;
  }
  25% { 
    transform: translateY(0px);
    opacity:0.5;
  }
  40% { transform: translateY(-70px);
  opacity: 1; 
  }
  45% { transform: translateY(0px) }
  70% { transform: translateY(-30px) }
  77% { transform: translateY(0px) }
  87% { transform: translateY(-10px) }
  
  to { transform: translateY(0px) }
}

.intro__logo {
  display: inline-block;
  width: 111px;
  height: 185px;
  margin-bottom: 40px;
  background: url(../img/logo_intro.png);
}

.intro__button {
  margin: 0;
  padding: 0;
  text-decoration: none;
  display: inline-block;
  width: 205px;
  height: 43px;
  border: 1px solid rgb(28, 91, 195);
  border-radius: 3px;
  background: rgba(28, 91, 195, 0);
  transition: background 0.4s;
}

.intro__button:hover {
  background: rgba(28, 91, 195, 1);
}
.intro__button:hover  .intro__button__word {
  color: rgb(255, 255, 255);
}

.intro__button:hover .intro__button__icon-main:after {
  opacity: 1;
}

.intro__button__word {
  font-size: 12px;
  font-weight: bold;
  color: rgb(28, 91, 196);
  text-transform: uppercase;
  line-height: 43px;
  transition: color 0.4s;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.intro__button__icon-main {
  display: inline-block;
  width: 15px;
  height: 14px;
  vertical-align: middle;
  margin-left: 8px;
  
  background: url(../img/intro-button/main_icon.png) center center no-repeat;
}

.intro__button__icon-main:after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 14px;
  opacity: 0;
  transition: opacity 0.4s;
  background: url(../img/intro-button/main_iconw.png) center center no-repeat;
}

